<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Delete Client</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  </head>
  <body>
    <div class="container">
      <h1>Delete Client</h1>
      <div class="container row">
        <div class="well">
        <p>You are about to delete the client <th:block th:text="${client.companyName}" />:  <b>Are you sure?</b></p>
        </div>
        <form action="/client/delete" method="post">
          <input type="hidden" name="clientId" th:value="${client.clientId}"/>
          <input type="submit" name="command" value="Cancel" class="btn btn-info"/>
          <input type="submit" name="command" value="Delete" class="btn btn-danger"/>
        </form>
      </div>
    </div>
  </body>
</html>
